@tailwind base;
h4 {
  @apply text-xs font-sans font-[400];
}
h3 {
  @apply text-base font-sans font-[400];
}
body {
  @apply text-base font-sans font-[700];
}
h2 {
  @apply text-lg font-sans font-[400];
}
h1 {
  @apply text-xl font-sans font-[400] ;
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.timezone-dropdown::-moz-selection {
  background: transparent;
  color: inherit;
}

.timezone-dropdown::selection {
  background: transparent;
  color: inherit;
}

.icon {
  fill: #000 !important; /* Начальный цвет иконки с переопределением !important */
  transition: fill 0.3s; /* Анимация изменения цвета */
}

.icon:hover {
  fill: black !important; /* Цвет при наведении (черный) с переопределением !important */
}

table {
  border-collapse: separate
}

#filter::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#filter::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #30975b;
}

#filter::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ebebeb;
}